* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
  height: 3.5rem;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.header-nav-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.logo-link {
  font-size: 1.5rem;
  font-weight: 700;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.register-page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  transform: translateX(-1.78rem);
}

.login-page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  transform: translateX(-1.78rem);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-form-row {
  position: relative;
}

.register-form-row input {
  border: 0.0625rem solid;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem 2rem;
}

.register-form-input-icon {
  position: absolute;
  top: 0.45rem;
  right: 0.75rem;
}

.login-form-row {
  position: relative;
}

.login-form-row input {
  border: 0.0625rem solid;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem 2rem;
}

.login-form-input-icon {
  position: absolute;
  top: 0.45rem;
  right: 0.75rem;
}

.goals {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.btn {
  width: 100%;
  padding: 0.625rem 1.25rem;
  border: 0.0625rem solid #000;
  border-radius: 0.375rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
}

.btn svg {
  margin-right: 8px;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-submit {
  border: 0.0625rem solid #5553ff;
  background-color: #5553ff;
  width: 100%;
}

.switch-form-link {
  color: #5553ff;
}

.invalid-feedback {
  display: inline-block;
  text-align: left;
  margin: 0;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
